{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'sensei_base.css' %}">

<body>

    <div class="complete">
        <form action="" method="post">
    <div class="search-wrapper">
        <div class="input-holder">
            
            
                {% csrf_token %}
                <input type="hidden" name="form_type" value="prompt_from_user">
                <input type="text" class="search-input" name="user_input" placeholder="Enter the topic you want to Learn" />
                <button class="search-icon" onclick="searchToggle(this, event);"type="submit"><span></span></button>
              
            
        </div>
        <span class="close" onclick="searchToggle(this, event);"></span>
    </div>
</form>
{% if response %}

    <div class="timeline">
        <!--CARD 1-->
        {% for i in title_list %}
        <div class="card">
          <div class="card-icon">
            <i class="fa fa-book fa-fw"></i>
          </div>
          <div class="card-content">

            
            
            <h3>{{i}}</h3>
            
          </div>
          
        </div>
        {% endfor %}
      </div>
      
      <div class="start-course">
        
          <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="Start Course">
            <button type="submit"class="start-course-button"name="upvote" value="Start Course">Start Course</button>
        </form>
        
      
      </div>
    
      {% endif %}
    </div>


</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function searchToggle(obj, evt){
    var container = $(obj).closest('.search-wrapper');
        if(!container.hasClass('active')){
            container.addClass('active');
            evt.preventDefault();
        }
        else if(container.hasClass('active') && $(obj).closest('.input-holder').length == 0){
            container.removeClass('active');
            // clear input
            container.find('.search-input').val('');
        }
}
</script>