<form action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="form_type" value="next">
    <input type="submit" name="upvote" value="Next" />
</form>

<form action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="form_type" value="test">
    <input type="submit" name="upvote" value="test" />
</form>
    <div>
        {% if topic_name %}
        <h2>
            {{topic_name}}
        </h2>
        {% endif %}
    </div>
  <div>
    {% if response %}
        {% for i in answer %}
            <p>
                {{i}}
            </p>
        {% endfor %}
    {% endif %}
  </div>
<div>
    {% if context_for_doubt %}
        {{context_for_doubt}}
    {% endif %}
</div>
  <div>
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="doubt">
        <input type="text" name="user_doubt" value="doubt" />
    </form>
  </div>

  <div>
    {% if solution %}
        {{solution}}
    {% endif %}
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

