<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1> OpenAI chatbot will be here</h1>
  <h3>Write an instruction</h3>
  <form action="" method="post">
    {% csrf_token %}
    <input type="text" name="user_input" id="">
    <button type="submit">Submit</button>
  </form>
  {% if response %}
    <div>
      {{ response|safe}}
    </div>
  {% endif %}

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(window).on('beforeunload', function() {
            $.ajax({
                url: '/record-page-visit/my-page/',
                async: false,
                success: function() {}
            });
        });
    </script>
</body>
</html>