{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'sensei_classroom.css' %}">

<body>
  <div class="container">
    <div class="blackboard">

    {% if topic_name %}

      <h3>{{topic_name}}</h3>
    {% else %}
    <h3>Click Understood to Continue</h3>
    {% endif %}



      <div class="info-scrollable">
        
         {% if context_for_doubt %}
                {{context_for_doubt}}
         

        {% endif %}
        
    {% if response %}
        {% for i in answer %}
            <p>
                {{i}}
            </p>
        {% endfor %}
        
    {% endif %}      </div>
    </div>
    <div class="buttons">
      <span>
        <button><form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="Simplify">
            <input type="submit" name="simply" value="Simplify" />
        </form></button>
        <button><form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="next">
            <input type="submit" name="upvote" value="Understood" />
        </form></button>
        
        <button><form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="Give Examples">
            <input type="submit" name="upvote" value="Give Examples" />
        </form></button>
      </span>
      <div class="doubt-section">
        <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="doubt">
            <input type="text" name="user_doubt" value="doubt" />
        </form>
      </div>
      <div class="solution-doubt">
      {% if solution %}
    <div class="info-scrollable">
        {{solution}}
    </div>
    {% endif %}
</div>
      
    </div>
  </div>

</body>

